<div class="card text-white bg-{{bgClass}}">
    <div class="card-header" [style.background-color]="color">
        <div class="row">
            <div class="col col-xs-3">
                <img  [src]="image" width = 90px height = 90px>
            </div>
            <div class="col col-xs-9 text-right">
                <div class="d-block">{{label}}</div>
            </div>
        </div>
    </div>
    <div class="card-footer" style="background-color:white">
        <span class="float-left" [style.color]="color">go to {{label}}</span>
        <a href="javascript:void(0)" class="float-right card-inverse" >
            <span ><i class="fa fa-arrow-circle-right" [style.color]="color"></i></span>
        </a>
    </div>
</div>
