<div [@routerTransition]>
    <h2 class="page-header">현재 시세</h2>
    <hr>
    <div class="row">
        <div class="col-xl-6">
            <app-stat [bgClass]="'primary'" [image]="'assets/images/upbit.png'" [color]="'#327ab7'" [label]="'Upbit'"></app-stat>
        </div>
        
        <div class="col-xl-6">
            <app-stat [bgClass]="'warning'" [image]="'assets/images/bithumb.png'" [color]="'#f0ad4e'" [label]="'Bithumb'"></app-stat>
        </div>
    </div>
    <hr style="visibility: hidden">
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-3">
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th style="color:#327ab7">통화</th>
                            <th style="color:#327ab7">현재가 (₩)</th>
                            <th style="color:#327ab7">변동(24시간)</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let b of currencyBithumb">
                                <td style="font-weight: bold">{{b.currency}}</td>
                                <td>{{b.price}}</td>
                                <td [style.color]=b.color>{{b.change_rate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-3">

                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th style="color:#f0ad4e">통화</th>
                            <th style="color:#f0ad4e">현재가 (₩)</th>
                            <th style="color:#f0ad4e">변동(24시간)</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let u of currencyUpbit">
                                <td style="font-weight: bold">{{u.currency}}</td>
                                <td>{{u.price}}</td>
                                <td [style.color]=u.color>{{u.change_rate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>