<div [@routerTransition]>
    <h2 class="page-header">내 관심 종목</h2>
    <hr>
    <div class="row">
        <div class="col col-sm-12">
            <div class="card mb-3">
                <div class="card-header">
                    비트코인 BTC/KRW
                </div>
                <div class="card-body">
                    <canvas id="lineChart" baseChart height="130" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <hr style="visibility: hidden">
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-3">
                <div class="card-header">
                    Bithumb
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th style="color:#327ab7">시간</th>
                            <th style="color:#327ab7">가격 (₩)</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let l of lineChartLabels; let i = index">
                                <td style="font-weight: bold">{{l}}</td>
                                <td>₩ {{lineChartData[0]['data'][i]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-3">
                <div class="card-header">
                    Upbit
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th style="color:#f0ad4e">시간</th>
                            <th style="color:#f0ad4e">가격 (₩)</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let l of lineChartLabels; let i = index">
                                <td style="font-weight: bold">{{l}}</td>
                                <td>₩ {{lineChartData[1]['data'][i]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
