<div [@routerTransition]>
    <h2 class="page-header">정보 게시판</h2>
    <hr>
    <p>
        <button routerLink="/forms" type="button" class="btn btn-info">글쓰기</button>
    </p>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>글쓴이</th>
                            <th>조회</th>
                            <th>날짜</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let b of arrBoard">
                                <td>{{b.num}}</td>
                                <td><a routerLink="/components/{{b.num}}">{{b.title}}</a></td>
                                <td>{{b.email}}</td>
                                <td>{{b.readCount}}</td>
                                <td>10-22</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <p>
        <button type="button" class="btn btn-secondary" (click)="crawling()">정보수집</button>
    </p>
</div>
