<div [@routerTransition]>
    <h2 class="page-header">글쓰기</h2>
    <hr>
    <div class="row">
        <div class="col-lg-8">
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">제목</span>
                </div>
                <!-- <span class="input-group-addon">@</span> -->
                <input type="text" class="form-control" #title>
            </div>
            <fieldset class="form-group">
                <textarea class="form-control" rows="14" #contents></textarea>
            </fieldset>
        </div>
    </div>
    <p>
        <button type="button" class="btn btn-info" (click)="save(title.value, contents.value)">저장</button>
    </p>
</div>
