<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CurrencyMapper">
    <insert id="addBithumb" parameterType="Bithumb">
       <!--  insert all
        <foreach item="item" index="index" collection="list"> -->
		insert into bithumb (bithumb_pk, currency, opening_price,
						  closing_price, min_price, max_price, average_price,
						  units_traded, volume_1day, volume_7day, buy_price, 
						  sell_price, fluctate_24H, fluctate_rate_24H) 
		values (#{bithumb_pk}, #{currency}, #{opening_price},
				#{closing_price}, #{min_price}, #{max_price}, #{average_price},
				#{units_traded}, #{volume_1day}, #{volume_7day}, #{buy_price}, 
				#{sell_price}, #{fluctate_24H}, #{fluctate_rate_24H})
		<!-- </foreach>
		select *
		from dual -->
     </insert>
     
     <insert id="addUpbit" parameterType="Upbit">
        <!-- insert all
        <foreach item="item" index="index" collection="list"> -->
		insert into upbit (upbit_pk, market, opening_price, high_price,
			 			low_price, trade_price, prev_closing_price, changes, 
			 			change_price, change_rate, signed_change_price,
			 			signed_change_rate, trade_volume, acc_trade_price,
			 			acc_trade_price_24h, acc_trade_volume, acc_trade_volume_24h) 
		values (#{upbit_pk}, #{market},
				#{opening_price}, #{high_price}, #{low_price}, #{trade_price},
				#{prev_closing_price}, #{changes}, #{change_price}, #{change_rate}, 
				#{signed_change_price}, #{signed_change_rate}, #{trade_volume},
				#{acc_trade_price}, #{acc_trade_price_24h}, #{acc_trade_volume},
				#{acc_trade_volume_24h})
		<!-- </foreach>
		select *
		from dual -->
     </insert>
     
     <select id="currentBithumb" resultType="Bithumb">
     	select bithumb_pk, bithumb_date, currency, opening_price,
			   closing_price, min_price, max_price, average_price,
			   units_traded, volume_1day, volume_7day, buy_price, 
			   sell_price, fluctate_24H, fluctate_rate_24H
		from bithumb
		order by bithumb_date desc
		limit 49
     </select>
     
     <select id="currentUpbit" resultType="Upbit">
     	select upbit_pk, upbit_date, market, opening_price, high_price,
			   low_price, trade_price, prev_closing_price, changes, 
			   change_price, change_rate, signed_change_price,
			   signed_change_rate, trade_volume, acc_trade_price,
			   acc_trade_price_24h, acc_trade_volume, acc_trade_volume_24h
		from upbit
		order by upbit_date desc
		limit 49
     </select>
     
     <select id="chartsBithumb" parameterType="CurrencyTime" resultType="Bithumb">
     	<![CDATA[ 
     	select bithumb_pk, bithumb_date, currency, opening_price,
			   closing_price, min_price, max_price, average_price,
			   units_traded, volume_1day, volume_7day, buy_price, 
			   sell_price, fluctate_24H, fluctate_rate_24H
		from bithumb
		where currency = #{currency} 
		and bithumb_date >= str_to_date(#{startTime}, '%Y%m%d%H%i%s') 
		and bithumb_date <= str_to_Date(#{endTime}, '%Y%m%d%H%i%s')
		]]> 
     </select>
     
     <select id="chartsUpbit" parameterType="CurrencyTime" resultType="Upbit">
     	<![CDATA[ 
     	select upbit_pk, upbit_date, market, opening_price, high_price,
			   low_price, trade_price, prev_closing_price, changes, 
			   change_price, change_rate, signed_change_price,
			   signed_change_rate, trade_volume, acc_trade_price,
			   acc_trade_price_24h, acc_trade_volume, acc_trade_volume_24h
		from upbit
		where market = #{currency} 
		and upbit_date >= str_to_date(#{startTime}, '%Y%m%d%H%i%s') 
		and upbit_date <= str_to_Date(#{endTime}, '%Y%m%d%H%i%s')
		]]> 
     </select>
</mapper>